[alias]
	# status
	ss    = "status -s"

	# commit with message
	cm    = "commit -m"

	# checkout\switch branch
	ch    = "checkout"

	# create new branch and checkout (checkout -b\switch -c)
	cb    = "checkout -b"
	
	# show all branches
	br    = "branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate"

	# get current branch name
	cbr   = "branch --show-current"
	
	# pull with rebase
	pro   = "pull --rebase origin"
	
	# show log
	lg    = "log --graph --decorate --pretty=oneline --abbrev-commit"
	
	# show last 5 logs (short log)
	slg   = "log --graph --decorate --pretty=oneline --abbrev-commit -5"


[core]
	# use less pager if git output is more than a screen size (> ~500 lines)
	pager = less -F

	# set global gitignore file
	excludesFile = ~/.gitignore


# set default branch to main during `git init`
[init]
	defaultBranch = main


# user based-configurations
[user]
	name = arthur-yatsun
	email = arthur54342@gmail.com
