[alias]
	ss    = "status -s"
	
	cm    = "commit -m"
	cam   = "commit -a -m"
	undo  = "commit --amend"
	cmp   = "!f() { git commit -m \"$@\" && git push; }; f"

	ch    = "checkout"
	cb    = "checkout -b"

	br    = "branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate"
	cbr   = "branch --show-current"
	del   = "branch -D"
	
	lg    = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[core]
	excludesFile = ~/.gitignore
[user]
	name = arthur-yatsun
	email = arthur54342@gmail.com
[commit]
	gpgsign = false
[init]
	defaultBranch = main
