[submodule ".personal"]
	path = .personal
	url = git@github.com:arthur-yatsun/.personal.git
	ignore = untracked

[submodule "_scripts_templates"]
	path = _scripts_templates
	url = git@github.com:arthur-yatsun/.scripts_templates.git
